# ========= 构建 =========
USE_CN_MIRROR=true
SERVICE_EXTRA=cpu
IMAGE_REGISTRY=registry.example.com/brain
IMAGE_TAG=arm64-cpu

# ========= 内部认证 ==========
SERVICE_API_KEY=change-me

# ======= LLM ========
OPENAI_API_KEY=change-me

# ========= mineru：文档解析 ========
MINERU_API_KEY=

# ======== 火山方舟：文档解析、Embedding ========
ARK_API_KEY=

# ======== 硅基流动 Embedding、Rerank =========
# 国内
SILICONFLOW_CN_API_KEY=

# 海外
SILICONFLOW_INTL_API_KEY=

# ======== 火山 VikingDB Rerank =========
VIKING_ACCESS_KEY=
VIKING_SECRET_KEY=

# ========== 云向量库 =========
QDRANT_CLOUD_API_KEY=
MILVUS_CLOUD_TOKEN=

# ======== 管理后台登录密码 ========
RAG_ADMIN_PASSWORD=change-me

# ======== 本地 MinIO ========
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
